.tooltip-inner {
    max-width: 250px;
    padding: 8px 12px;
}

.tooltip {
    font-weight: bolder;
}

/*.oe_form_field_x2many_images img {
    position: absolute;
    max-width: 90%;
    max-height: 480px;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.oe_form_field_x2many_images img {
    position: absolute;
    max-width: 90%;
    max-height: 480px;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
*/